alias pcs="~/pcsdevelopment/pcspecialist.co.uk/"
alias pcd="~/pcsdevelopment"
alias dc="docker"
alias dt="/mnt/c/Users/joseph.lee/Desktop/"
alias gp="git pull origin develop"
alias gr="git pull origin develop --rebase"
alias stage="git push origin develop && git push origin develop:master"
alias deploy="git push production develop && git push production develop:master"
alias bssh="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
alias bscp="scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
alias pcsh="cd /home/eojeel/pcsdevelopment/pcspecialist.co.uk"
alias dt=" /mnt/c/Users/Joseph.lee/Desktop"
alias k="kubectl"
alias d="docker"
